<div class="newElement">
  <i class="material-icons" (click)="focusToAddElement()">add</i>
  <form [formGroup]="formGroup" (keyup.enter)="addElement(formGroup.value.input)">
    <label for="input"></label>
    <input #newName [formControlName]="'input'" id="input" type="text" [style.border]="inputBorder"
           placeholder="{{placeholder}}">
  </form>
</div>
