.newElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  margin: 20px 0;

  i {
    margin: 0 5px;
    color: #0078D7;
    cursor: pointer;
    user-select: none;
  }

  input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-radius: 3px;

    &::placeholder {
      color: #0078D7;
    }

    &:focus {
      &::placeholder {
        color: #808080;
      }
    }
  }
}
