.login {
  display: flex;
  align-items: center;
  height: 100%;

  div {
    display: flex;
    flex-direction: row;

    .logout {
      position: absolute;
      right: 20px;
      top: 45px;
      padding: 15px;
      background-color: #F4F4F4;
      border-radius: 2px;
      color: #0078D7;

      &:hover {
        transform: none;
      }
    }

    p {
      margin: 0 15px;
      color: white;
      cursor: pointer;
      user-select: none;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
