<div class="login" [ngSwitch]="logged">
  <div *ngSwitchCase="true">
    <p (click)="setShowLogout(!showLogout)">{{userLogin}}</p>
    <p *ngIf="showLogout" (click)="logout()" class="logout"> Logout</p>
  </div>
  <div *ngSwitchCase="false">
    <p (click)="setShowLoginForm(!showLoginForm)">Login</p>
    <app-form *ngIf="showLoginForm" [type]="'login'" (user)="login($event)" [error]="error"></app-form>
    <p (click)="setShowRegisterForm(!showRegisterForm)">Register</p>
    <app-form *ngIf="showRegisterForm" [type]="'register'" (user)="register($event)" [error]="error"></app-form>
  </div>
</div>
