<div>
  <div class="title">
    <p>{{title}}</p>
  </div>
  <div *ngFor="let card of cards">
    <app-item *ngFor="let taskId of card[bindList]" [item]="card.items[getIndex(card.items, taskId)]"
              (completed)="setCompletedTask(card.id, $event)"
              (delete)="deleteTask(card.id, $event)" (important)="setImportantTask(card.id, $event)"
              (rename)="setNewTaskName(card.id, $event)"></app-item>
  </div>
</div>

