div {
  height: 100%;
  overflow-y: scroll;

  .title {
    display: flex;
    align-items: center;
    height: 50px;

    p {
      margin: 0 30px;
      color: #0078D7;
      font-size: 24px;
      user-select: none;
    }
  }
}


