.content {
  height: 100%;
  background-color: #F4F4F4;

  .cards {
    width: 300px;
    border-right: 1px ridge;
    max-height: calc(100% - 74px);
    overflow-y: auto;

    hr {
      align-self: center;
      width: 85%;
      height: 1px;
      border: none;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .card {
      display: flex;
      flex-direction: row;
      padding: 5px 10px;
      cursor: pointer;
      outline: none;

      i {
        margin: 0 5px;
        color: #0078D7;
        user-select: none;
      }

      p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0;
        width: 100%;
        user-select: none;
      }

      &:hover {
        background-color: #cde3f4;
      }
    }
  }
}
