<div class="content">
  <div class="cards">
    <div class="card" [routerLink]="'important'">
      <i class="material-icons">star</i>
      <p>Important <span>{{getCommonState('important')}}</span></p>
    </div>
    <div class="card" [routerLink]="'noCompleted'">
      <i class="material-icons">home</i>
      <p>Tasks <span>{{getCommonState('noCompleted')}}</span></p>
    </div>
    <hr>
    <div class="card" *ngFor="let card of navigation" [routerLink]="card.id">
      <i class="material-icons">list</i>
      <p>{{card.title}} <span>{{getNoCompleted(card.noCompleted)}}</span></p>
    </div>
  </div>
  <app-new-element [placeholder]="'New List'" (newElement)="addCard($event)"></app-new-element>
</div>
