div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 50px);
  color: #0078D7;

  h1 {
    font-size: 120px;
    margin: 0;
  }

  p {
    font-size: 25px;
    margin: 0;
  }
}
