<div class="item">
  <div style="width: 100%">
    <div (click)="setCompleted()" [ngSwitch]="item.completed">
      <i *ngSwitchCase="true" id="completed" class="material-icons">check_box</i>
      <i *ngSwitchCase="false" id="noCompleted" class="material-icons">check_box_outline_blank</i>
    </div>
    <label for="input"></label>
    <input id="input" type="text" value="{{item.name}}"
           (keyup.enter)="setNewName($event.target.value)">
  </div>

  <div>
    <div (click)="setImportant()" [ngSwitch]="item.important">
      <i *ngSwitchCase="true" id="starred" class="material-icons">star</i>
      <i *ngSwitchCase="false" id="noStarred" class="material-icons">star_border</i>
    </div>
    <div (click)="deleteTask()">
      <i class="material-icons" id="delete">close</i>
    </div>
  </div>
</div>

