.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px ridge rgba(0,0,0, 0.1);

  &:hover {
    background-color: #cde3f4;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    input {
      background: none;
      border: none;
      outline: none;
      border-radius: 3px;
      width: 100%;
    }

    div {

      i {
        user-select: none;
        cursor: pointer;

        &:hover {
          font-weight: bold;
        }
      }

      #noCompleted {
        color: rgba(0, 0, 0, 0.1);
      }

      #completed {
        color: rgb(115, 247, 0);
      }

      #starred {
        color: orange;
      }

      #noStarred {
        color: rgba(0, 0, 0, 0.5);
      }

      #delete {
        color: red;
      }
    }
  }
}
