<div>
  <app-title (delete)="deleteCard(card.id)" [title]="card.title"
             (newTitle)="renameCard(card.id, $event)"></app-title>
  <app-item *ngFor="let item of card.items" [item]="item"
            (completed)="setCompletedItem(card.id, $event)"
            (delete)="deleteItem(card.id, $event)" (important)="setImportantItem(card.id, $event)"
            (rename)="setNewItemName(card.id, $event)"></app-item>
</div>
<app-new-element [placeholder]="'New Task'" (newElement)="addItem(this.card.id, $event)"></app-new-element>
