form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #F4F4F4;
  border-radius: 2px;
  padding: 15px;
  right: 20px;
  top: 45px;
  color: #0078D7;

  .error {
    position: relative;

    p {
      position: absolute;
      top: -10px;
      margin: 0;
      right: 0;
      font-size: 14px;
      color: red;
    }
  }

  input {
    margin: 15px 0;
    border: 1px ridge rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    outline: none;
    padding: 5px;

    &[type=submit] {
      text-transform: capitalize;
      cursor: pointer;
      background-color: #0078D7;
      color: white;

      &:disabled {
        background-color: dimgray;
        cursor: not-allowed;
      }
    }
  }

}
