<form [formGroup]="form" (submit)="setUser()">
  <label for="userLogin">Login:</label>
  <input type="text" id="userLogin" formControlName="login">
  <div class="error">
    <p *ngIf="form.get('login').errors &&
      form.get('login').dirty &&
      form.get('login').errors.validLogin">Wrong login</p>
  </div>
  <label for="userPassword">Password:</label>
  <input [type]="inputType" id="userPassword" formControlName="password">
  <div class="error">
    <p *ngIf="form.get('password').errors &&
      form.get('password').dirty &&
      form.get('password').errors.validPassword">Wrong password</p>
  </div>
  <div class="error">
    <p *ngIf="error">{{error}}</p>
  </div>
  <input type="submit" [disabled]="!form.valid" value="{{type}}">
</form>
