.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 1px ridge rgba(0,0,0, 0.1);

  #newTitle {
    background: none;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-left: 30px;
    color: #0078D7;
    font-size: 24px;
    padding: 5px 10px;

    &:focus {
      color: black;
    }
  }

  div {
    padding: 0  30px;

    p {
      color: red;
      cursor: pointer;
      margin: 5px;
      user-select: none;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
