<div class="title">
  <label for="newTitle">
    <input type="text" id="newTitle" value="{{title}}" (keyup.enter)="setNewTitle($event.target.value)"
           [style.border]="inputBorder">
  </label>
  <div (click)="deleteCard()">
    <p>Delete list</p>
  </div>
</div>
